body{
    background-color: #dedede;
}
.contact-card{
/* height: 192px; */
display: flex;
background-color: white;
margin: 144px;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.left-col{
    background-image: url("images/contact-bg.jpeg");
     
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 30px15px0;
    
    
}
.right-col{

}
.right-heading{
    font-size: 24px;
    font-weight: 500;
    padding: 12px;
    text-align:center;
     

}