.nav-bg{
    background: linear-gradient(90deg, #4B6587, #FFF);
    
}
.nav-link{
    color: #FFF;
}
.contact-link{
    color: darkblue;
}
li{
    list-style: none;
}
.logo{
    border-radius: 50%;
}
.nav-link:hover{
background-color: grey;
color: white;
}
.my-card{
    /* z-index: 1; */
}
.btn-container{
    width: 100%;
    height: 55px;
    padding-top: 10px;
    position: relative;
    transform: translateY(100px);
    text-align: center;
    background-color: #fff;
    transition: all 0.2s linear;
    z-index: 0;
}
.my-card:hover .btn-container{
    transform: translateY(-127px);
}
.card-footer{
    /* z-index: 10; */
}
.my-footer{
    background-color: #143a56;
    color: white;
    padding: 28px;
}