body{
    background-color:#EAEAEA;

}
.category-card{
    background-color: white;
    padding:20px;
margin: 62px 0px;
}
.category-heading{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    
}
.category-images{
display: flex;
flex-wrap: nowrap;
overflow-x: auto;
white-space: nowrap;
padding: 20px;
}
.card{
    height: 290px;
    width: 260px;
}